<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
            <% if current_user %>
          <%= button_to(
            "Log Out",
            destroy_user_session_path,
            method: :delete
          ) %>
        <% else %>
          <a class="btn btn-sm btn-outline-secondary" href="<%= new_user_session_path %>">Sign in</a>
        <% end %>
  </body>
</html>
